VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://zqyqtcteqtbkadkflaku.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxeXF0Y3RlcXRia2Fka2ZsYWt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NDA4MTQsImV4cCI6MjA5MDQxNjgxNH0.5aVVVg0G9UhEOHh0AP3cSX255Zq8MB28BizOM77r4Rw
